@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Next js 13 has new way to add google fonts
  Read here : https://nextjs.org/docs/api-reference/next/font
*/
:root {
  --font-primary: "Poppins";
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply font-primary;
}

.ladle-main {
  @apply bg-primary-10 text-primary-800 dark:bg-primary-800 dark:text-primary-10;
}

/* Focus Mode */
.pomo-focus {
  --primary-10: 218, 245, 255;
  --primary-50: 61, 86, 213;
  --primary-100: 45, 71, 206;
  --primary-200: 37, 58, 168;
  --primary-300: 28, 45, 130;
  --primary-400: 20, 32, 93;
  --primary-500: 12, 19, 55;
  --primary-600: 9, 15, 42;
  --primary-700: 7, 10, 30;
  --primary-800: 4, 6, 17;
  --primary-900: 1, 2, 5;
}

/* Short Break */
.pomo-short-break {
  --primary-10: 255, 224, 233;
  --primary-50: 206, 45, 67;
  --primary-100: 189, 41, 62;
  --primary-200: 155, 34, 51;
  --primary-300: 122, 27, 40;
  --primary-400: 88, 19, 29;
  --primary-500: 55, 12, 18;
  --primary-600: 42, 9, 14;
  --primary-700: 30, 7, 10;
  --primary-800: 17, 4, 6;
  --primary-900: 5, 1, 2;
}

/* Long Break */
.pomo-long-break {
  --primary-10: 225, 255, 222;
  --primary-50: 45, 206, 153;
  --primary-100: 41, 189, 141;
  --primary-200: 34, 155, 116;
  --primary-300: 27, 122, 91;
  --primary-400: 19, 88, 66;
  --primary-500: 12, 55, 41;
  --primary-600: 9, 42, 32;
  --primary-700: 7, 30, 22;
  --primary-800: 4, 17, 13;
  --primary-900: 1, 5, 4;
}
